:root {
  --primary: #ff0000;
  --primary-dark: #db1515;
  --bg-dark: #1e232b;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --off-white: #f8f5f0;
  --max-width: 1200px;
  --font-primary: "Josefin Sans", sans-serif;
  --font-secondary: "Cormorant Infant", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 0px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-primary);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  width: 180px;
}

.section {
  overflow: hidden;
  min-height: max-content;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  height: 100vh;
}

.section_subheader {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--text-dark);
  font-family: var(--font-secondary);
  align-self: flex-start;
  text-align: left;
}

.section_subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--primary);
}

.section_header {
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  font-family: var(--font-secondary);
  align-self: flex-start;
  text-align: left;
  font-family: var(--font-secondary);
}

.section_description {
  max-width: 600px;
  margin-bottom: 1.5rem;
  color: var(--text-light);
  font-family: var(--font-primary);
  line-height: 1.3;
}

/* Nav */
nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  isolation: isolate;
  z-index: 1000;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0;
  background-color: transparent;
}

.nav_btn:hover {
  color: var(--white);
}

.nav_links {
  list-style: none;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
  z-index: 5;
  width: unset;
  position: static;
  flex-direction: row;
}

.nav_links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
  font-family: var(--font-primary);
  opacity: 0.85;
}

.nav_links a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  transition: 0.3s;
  transform-origin: left;
  opacity: 1;
}

.nav_links a:hover::after {
  width: 100%;
}

.nav_links a.nav_link_active {
  font-weight: 600;
  opacity: 1;
}

.nav_btn {
  display: block;
}

.nav_menu_btn {
  display: none;
  font-size: 1.8rem;
  color: var(--white);
  cursor: pointer;
  z-index: 20;
}

.nav_menu_btn i {
  pointer-events: none;
}

.fa-xmark {
  color: var(--primary);
}

/* footer container */
.footer {
  background: var(--bg-dark);
  color: var(--white);
  padding: 50px 20px 20px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  padding-inline: 2rem;
}

.footer_about {
  width: 40%;
}

.footer_about h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
}

.footer_about p {
  font-family: var(--font-primary);
  opacity: 0.7;
  line-height: 1.6;
  font-size: 1rem;
}

.footer_about img {
  height: 100px;
  width: auto;
}

.footer_contact {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.footer_contact h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: -.1rem;
}

.footer_contact p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-primary);
  opacity: 0.8;
}

.footer_phone i,
.footer_email i {
  margin-right: 8px;
  color: var(--primary);
}

.footer_socials {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footer_socials a {
  color: var(--white);
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.footer_socials a:hover {
    color: var(--primary);
}

.footer_bottom {
  border-top: 1px solid #ffffff43;
  margin-top: 40px;
  padding-top: 1.1rem;
  letter-spacing: 1px;
  font-family: var(--font-primary);
  text-align: center;
  font-size: 1rem;
  color: #ffffff57;
}

.footer_mid{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: max-content;
}

.footer_links{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer_links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
  font-family: var(--font-primary);
  opacity: 0.85;
}

.footer_links a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  transition: 0.3s;
  transform-origin: left;
  opacity: 1;
}

.footer_links a:hover::after {
  width: 100%;
}

.footer_links a.nav_link_active {
  font-weight: 600;
  opacity: 1;
}

/* Mobile nav adjustments */
@media (max-width: 1100px) {
  .section_container {
    height: max-content;
  }

  .section_header {
    font-size: 2rem;
  }

  nav {
    background-color: #00000086;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding: 1rem 0rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateX(0%);
  }
  .nav_bar {
    width: 100%;
    padding: 1.8rem 1rem;
  }

  .nav_bar .logo {
    width: 150px;
    height: auto;
  }

  .nav_menu_btn {
    display: block;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    z-index: 20;
  }

  .nav_links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }

  .nav_links.show {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }

  .nav_btn {
    display: none;
  }

  .nav_links a.nav_link_active {
    opacity: 1;
  }
}


/* Responsive */

@media (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    padding: .5rem;
  }

  .footer_about, .footer_contact{
    width: 100%;
  }

  .footer_contact .footer_name{
    margin-top: -1rem;
  }

  .footer_socials {
    justify-content: start;
    gap: 3rem;
  }

  .footer_mid{
    display: none;
  }
}

