.menu_hero {
  position: relative;
  background: url("/Assets/Hero/1.jpg") center/cover no-repeat;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 2rem;
}
.menu_hero_overlay {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.75;
}
.menu_hero_content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: var(--max-width);
  padding-bottom: 0;
  padding-top: 5rem;
  padding-left: 1rem;
}

.menu_hero_content p,
.menu_hero_content h1 {
  color: var(--white);
}

.menu_hero_content p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-primary);
}

.menu_hero_content h1 {
  font-size: 4rem;
  font-weight: 500;
}

/* Outlet grid */
.outlets_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.outlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.outlet h2{
  font-family: var(--font-primary);
  width: max-content;
  padding: 5px;
  border: 2px solid var(--primary);
}

.outlets_container img {
  height: 330px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.outlets_container img:hover{
  transform: scale(1.05);
}

.outlet_bar{
  display: none;
}

.menu_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .menu_hero {
    padding-block: 0.5rem;
  }

  .menu_hero_content {
    padding-top: 5rem;
    padding-left: 0;
  }

  .menu_hero_content p {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-primary);
    text-align: center;
  }

  .menu_hero_content h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

  .outlets_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .outlet_bar{
    display: block;
    border: 1px solid rgb(0, 0, 0);
    opacity: .15;
  }
}
